{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2">
    
    <h3 class="title ">-MAVIKA-</h3>
    <article class="message is-info">
      <div class="message-header">
        Sobre nosotros
      </div>
      <div class="message-body">
        Mavika es una empresa familiar dedicada a la producción y venta de accesorios.
        <br>
        <br>
        Desde su nacimiento, Mavika experimentó un crecimiento sostenido, posicionándose entre las principales 
        marcas de accesorios a nivel internacional.
        <br>
        <br>
        Siempre nos mantenemos actualizados según las últimas tendencias del mundo de la moda, 
        para ofrecerte los mejores productos y los más originales.
      </div>
    
</div>
{% endblock %}